@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

body{
    font-family: var(--font-body);
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

@layer base{
    :root {
        --color-violet-400: #a78bfa;
        --color-fuchsia-400: #e879f9;
        --color-fuchsia-900: #4b004f;
        --color-amber-300: #fcd34d;
        --color-teal-300: #5eead4;
        --color-indigo-900: #1A237E;
        --color-gray-950: #111827;
        --font-heading: 'Sora', sans-serif;
        --font-body: 'Space Grotesk', sans-serif;
        --gap-18: 4.5rem;
        --inset-18: 4.5rem;
        --height-18: 4.5rem;
        --padding-18: 4.5rem;
        --rotate-135: 135deg;
        --rotate-225: 225deg;
        --rotate-270: 270deg;
        --rotate-315: 315deg;
    }
}

@layer utilities{

    .cursor-blink {
        animation: cursor-blink 1s step-start infinite;
    }

    @keyframes cursor-blink {
        0% {
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

 .absolute-center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
 }

 .border-gradient{
    @apply border-2 border-transparent [background:linear-gradient(var(--color-gray-950),var(--color-gray-950))_padding-box,conic-gradient(from_45deg,var(--color-violet-400),var(--color-fuchsia-400),var(--color-amber-300),var(--color-teal-300),var(--color-violet-400))_border-box];
 }
}