@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

body{
    font-family: 'Sora', sans-serif;
}

@layer base{
    :root {
        --color-violet-400: #a78bfa;
        --color-fuchsia-400: #e879f9;
        --color-amber-300: #fcd34d;
        --color-teal-300: #5eead4;
        --color-gray-950: #262626;
    }
}